apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-stroie-site
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /home/stroievlad99/data-stroie-site

